<% if session[:user_id] %>
	Signed in as <b><%=current_user.name %></b>&nbsp;
    <input type="button" id="logOutButton" value="logout of twitter">

    <h1>Home Time Line</h1>
    <ul id="homeTimeLineList">
        <% for tweets in @homeTimeLine %>
            <li>
                <b><%= tweets.user.name %></b> on
                <%= tweets.created_at %>
                <%= tweets.text %>
            </li>
        <% end %>
    </ul>

	<br><br>
	<h2>Tweet a message</h2>
	<form method="get">
		<textarea rows="4" cols="50" name="tweet"></textarea>
		<input id="postTweet" type="submit" value="Post tweet">
	</form>
<% else %>
	<h1>You are not login</h1>
	<input id='signInButton' type="button" value="login to twitter">
<% end %>

<script>
		function redirectToPath(uri)
		{
			document.location.href = uri;
		}

        function checkForTweets()
        {
            $.ajax
            ({
                type: "post",
                url: "/twitter/getHomeTimeLineViaAjax",
                dataType: "json",
                success: function(results)
                {
                    var homeTimeLineList = $("#homeTimeLineList");
                    if(results.length > 0)
                    {
                         homeTimeLineList.empty();
                    }

                    for (var i = 0; i < results.length; i++)
                    { //populate div result
                        var listElement = '<li>';
                        listElement += '<b>' + results[i].user.name +'</b> on ';
                        listElement += results[i].created_at + ' ';
                        listElement += results[i].text;
                        listElement += '</li>';
                        homeTimeLineList.append(listElement);
                    }
                }
            });
        }

		$("#logOutButton").click(function(){
    		redirectToPath('sessions/destroy');
		});

		$("#signInButton").click(function(){
    		redirectToPath('twitter/authentication');
		});

    <% if session[:user_id] %>
        setInterval(function(){ checkForTweets(); }, 10000);
    <% end %>

</script>