<% if session[:user_id] %>
	Signed in as <b><%=current_user.name %></b>&nbsp;
    <input type="button" id="logOutButton" value="logout of twitter">
	<br><br>Post a tweet
	<form method="get">
		<textarea rows="4" cols="50" name="tweet"></textarea>
		<input type="submit" value="Post tweet">
	</form>
<% else %>
	<input id='signInButton' type="button" value="login to twitter">
<% end %>

<script>
		function redirectToPath(uri)
		{
			document.location.href = uri;
		}

		$("#logOutButton").click(function(){
    		redirectToPath('sessions/destroy');
		});

		$("#signInButton").click(function(){
    		redirectToPath('twitter/authentication');
		});
</script>